In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pltb


# Entendendo o Data Set central_government_debt


- O Indicador:
Média anual da dívida do governo central (porcentagem do PIB)

Ou seja os valores estão em % do PIB

In [6]:
df_DividaGovCentr = pd.read_csv('central_government_debt.csv', sep=',', encoding='latin1')

In [7]:
df_DividaGovCentr.head()

,country_name,indicator_name,1950,1951,1952,1953,1954,1955,1956,1957,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,Annual average of central government debt (Per...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.904479,8.700291,9.154083,8.437266,7.997660,7.384413,6.130410,7.397495,NaN,NaN
1,Albania,Annual average of central government debt (Per...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.530002,70.030002,72.670076,72.380044,70.119932,67.610017,65.729868,74.451517,73.162897,66.463658
2,Algeria,Annual average of central government debt (Per...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.093511,7.658320,8.733314,20.438287,27.241982,38.366454,46.046388,52.009312,62.821924,52.396881
3,Angola,Annual average of central government debt (Per...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.149104,39.809857,57.093048,75.662637,69.322868,92.995001,113.554175,138.897101,86.860582,67.049940
4,Antigua and Barbuda,Annual average of central government debt (Per...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.791048,101.369132,99.071288,86.125894,92.192732,87.699587,81.250837,101.476956,102.357629,90.562166

In [9]:
#Qtde de linhas

qtde_linhas = len(df_DividaGovCentr)
len(df_DividaGovCentr)

173

In [10]:
# Formato da Tabela

df_DividaGovCentr.shape

(173, 75)

In [13]:
# Nome das Colunas

df_DividaGovCentr.columns

Index(['country_name', 'indicator_name', '1950', '1951', '1952', '1953',
       '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962',
       '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype='object')

In [14]:
# Informações (.info)

df_DividaGovCentr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 75 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_name    173 non-null    object
 1   indicator_name  173 non-null    object
 2   1950            30 non-null     float64
 3   1951            32 non-null     float64
 4   1952            32 non-null     float64
 5   1953            32 non-null     float64
 6   1954            33 non-null     float64
 7   1955            33 non-null     float64
 8   1956            33 non-null     float64
 9   1957            33 non-null     float64
 10  1958            32 non-null     float64
 11  1959            33 non-null     float64
 12  1960            35 non-null     float64
 13  1961            36 non-null     float64
 14  1962            36 non-null     float64
 15  1963            41 non-null     float64
 16  1964            43 non-null     float64
 17  1965            45 non-null     float64
 18  1966            45 non-null     float64
 19  1967            44 non-null     float64
 20  1968            46 non-null     float64
 21  1969            47 non-null     float64
 22  1970            88 non-null     float64
 23  1971            89 non-null     float64
 24  1972            94 non-null     float64
 25  1973            98 non-null     float64
 26  1974            100 non-null    float64
 27  1975            100 non-null    float64
 28  1976            104 non-null    float64
 29  1977            104 non-null    float64
 30  1978            103 non-null    float64
 31  1979            101 non-null    float64
 32  1980            106 non-null    float64
 33  1981            108 non-null    float64
 34  1982            110 non-null    float64
 35  1983            111 non-null    float64
 36  1984            111 non-null    float64
 37  1985            113 non-null    float64
 38  1986            116 non-null    float64
 39  1987            116 non-null    float64
 40  1988            117 non-null    float64
 41  1989            117 non-null    float64
 42  1990            127 non-null    float64
 43  1991            130 non-null    float64
 44  1992            133 non-null    float64
 45  1993            134 non-null    float64
 46  1994            138 non-null    float64
 47  1995            148 non-null    float64
 48  1996            149 non-null    float64
 49  1997            149 non-null    float64
 50  1998            151 non-null    float64
 51  1999            150 non-null    float64
 52  2000            159 non-null    float64
 53  2001            160 non-null    float64
 54  2002            165 non-null    float64
 55  2003            165 non-null    float64
 56  2004            165 non-null    float64
 57  2005            169 non-null    float64
 58  2006            170 non-null    float64
 59  2007            170 non-null    float64
 60  2008            170 non-null    float64
 61  2009            169 non-null    float64
 62  2010            170 non-null    float64
 63  2011            169 non-null    float64
 64  2012            171 non-null    float64
 65  2013            171 non-null    float64
 66  2014            171 non-null    float64
 67  2015            171 non-null    float64
 68  2016            171 non-null    float64
 69  2017            171 non-null    float64
 70  2018            170 non-null    float64
 71  2019            169 non-null    float64
 72  2020            168 non-null    float64
 73  2021            165 non-null    float64
 74  2022            161 non-null    float64
dtypes: float64(73), object(2)
memory usage: 101.5+ KB

In [15]:


df_DividaGovCentr.isnull()

,country_name,indicator_name,1950,1951,1952,1953,1954,1955,1956,1957,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,False,False,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1,False,False,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,False,False,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,True
169,False,False,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
170,False,False,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
171,False,False,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,True
172,False,False,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False